.ma_super_toc{
  background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px 25px;
    margin-bottom: 20px;
}



.team-container {
  display: flex;         
  flex-wrap: wrap;       
  gap: 20px;             
  margin-bottom: 30px;   
}


.team-member {
  background-color: #f9f9f9; 
  border: 1px solid #e0e0e0;
  border-radius: 8px;      
  padding: 20px;
  flex-basis: 250px;       
  flex-grow: 1;            
  box-shadow: 0 2px 4px rgba(0,0,0, 0.05); 
}


.team-member h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
}


.team-member .member-info {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
}


.team-member .member-email a {
  color: #0366d6; 
  text-decoration: none;
  font-family: monospace; 
}

.team-member .member-email a:hover {
  text-decoration: underline;
}

.blog-link-box {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.blog-link-box a {
  color: #0366d6;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}

.blog-link-box a:hover {
  text-decoration: underline;
}
